body.dark-mode {
    background-color: #121212; 
    color: #e0e0e0;
  }
  
  body.dark-mode .container.mt-5 {
    background-color: #1e1e1e;
    border: 1px solid #333;
  }
  
  body.dark-mode .card {
    background-color: #1e1e1e;
    border: 1px solid #333; 
  }
  
  body.dark-mode .card-header {
    background-color: #333; 
    color: #e0e0e0; 
  }
  
  body.dark-mode .table thead {
    background-color: #333;
    color: #e0e0e0;
  }
  
  body.dark-mode table thead {
    background-color: #333;
    color: #e0e0e0;
  }
  
  body.dark-mode table th, 
  body.dark-mode table td {
    border: 1px solid #333;
    padding: 0.75rem;
  }
  
  body.dark-mode table tr:nth-child(even) {
    background-color: #2a2a2a;
  }
  
  body.dark-mode table tr:nth-child(odd) {
    background-color: #1e1e1e;
  }
  
  
  body.dark-mode input[type="text"],
  body.dark-mode input[type="email"],
  body.dark-mode input[type="submit"],
  body.dark-mode textarea {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
  }
  
  body.dark-mode input[type="text"]::placeholder,
  body.dark-mode input[type="email"]::placeholder,
  body.dark-mode textarea::placeholder {
    color: #888;
  }
  
  body.dark-mode .form-label {
    color: #e0e0e0;
  }

  
  